/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  
    height: 90%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    margin: 20px;
    padding: 0;
  }